.benefit-fact > div{
    line-height: 22px;
    font-weight: 500;
}

.benefit-fact h3 {
    color: var(--color-black);
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 13px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.benefit-warranty {
    position: absolute;
    top: 0px;
    right: -80px;
}

.benefit-warranty-descr {
    font-size: 0.625rem;
    line-height: 120%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: rgba(68,68,68,.3);
    white-space: nowrap;

    position: absolute;
    right: -70px;
    top: 70px;
    transform-origin: center center;
    transform: rotate(-90deg);
}
