
#calculator{background-size:cover;}
#calculator b.button{background:none;padding:0;box-shadow:none;border:none;text-align:center;}
#calculator form{font-size:0;}
.calculator{padding:45px 0;}
.calculator-title{font-size:28px;letter-spacing:.6px;color:#000;font-weight:400;text-align:center;margin:0 0 15px;}
.calculator .tab-content{position:relative;padding:15px;border:5px solid #ffd907;background-color:#fff;}
.calculator-items{margin:0;padding:0;list-style:none;}
.calculator-item{display:block;margin-bottom:15px;}
.calculator-item a{display:block;font-size:16px;letter-spacing:.4px;color:#0c1327;text-align:center;text-decoration:none;margin-right:0;padding:15px 12px;border-radius:3px;border:2px solid #e0e0e0;-webkit-box-shadow:3px 4px 10px rgba(5,33,124,.1);box-shadow:3px 4px 10px rgba(5,33,124,.1);}
.calculator-item.active>a,.calculator-item.active>a:focus,.calculator-item.active>a:hover{cursor:default;background-color:#ffd300;border:2px solid #ffd300;-webkit-box-shadow:inset 3px 3px 10px 0 rgba(5,33,124,.1);box-shadow:inset 3px 3px 10px 0 rgba(5,33,124,.1);}
.tab-content>.tab-pane{display:none;}
.tab-content>.active{display:block;}
.tooltips-box,.tooltips-box-apartment{display:none;font-size:16px;line-height:22px;margin-bottom:15px;}
.tooltips-box-apartment.active,.tooltips-box.active{display:none;}
.selectric{position:relative;padding:5px 20px;font-size:16px;color:#0c1327;background:#fff;background-image:none;border:2px solid #e0e0e0;border-radius:3px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.selectric .label{font-size:16px;color:#0c1327;text-align:left;margin:0;}
.selectric-items li{font-size:14px;line-height:20px;text-align:left;color:#444;}
.selectric .button{width:25px;height:100%;color:#bbb;text-align:center;font:0/0 a;background-color:#fff;pointer-events:none;}
.selectric .button:after{pointer-events:none;content:'';position:absolute;right:12px;width:12px;height:8px;border-color:transparent;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAIBAMAAAA/ygPCAAAAFVBMVEUAAAC/v7+/v7+/v7+/v7+/v7+/v79GoAcsAAAAB3RSTlMA/U6lw34P0/SOcAAAADJJREFUCNdjSGUAgjAGRwMGBmYRBkVhBgZDIQYmQQNmQQUGIBfIYQByQRwgF8gBcYEcAHJQA0LpyxetAAAAAElFTkSuQmCC) center no-repeat;}
.selectric-items .selectric-scroll{height:100%;background-color:#fff;overflow:auto;}
.selectric-items ul{list-style:none;padding:0;margin:0;}
.calculator__input-block{position:relative;display:inline-block;vertical-align:top;width:100%;margin-bottom:15px;}
.form-control{display:block;width:100%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.calculator__input-block input{width:100%;font-size:16px;padding:15px 20px;margin-top:0;border:2px solid #e0e0e0;-webkit-box-shadow:none;box-shadow:none;background-color:#fff;border-radius:3px;outline:0;-webkit-box-sizing:border-box;box-sizing:border-box;line-height:1;height:auto;}
.calculator__input-block input:placeholder{font-size:16px;}
.calculator__input-block span{position:absolute;top:17px;right:5px;width:24px;height:100%;font-size:16px;text-align:center;}
.calculator-value-error,.tooltips-box span{display:none!important;}
.calculator-footer{text-align:center;padding-top:15px;border-top:1px dashed #d9d9d9;}
.calculator-column{margin-bottom:15px;}
.text-result{display:table;width:100%;text-align:left;font-size:16px;line-height:1.125;color:#0c1327;}
.text-result i{font-style:normal;}
.text-result span{display:table-cell;vertical-align:middle;width:50%;font-size:18px;text-align:right;padding:0;}
.calculator .form-input{margin-bottom:15px;}
.calculator .form-button{display:inline-block;vertical-align:top;width:100%;max-width:320px;margin-bottom:0;text-align:center;}
.calculator-label{display:inline-block;vertical-align:top;}
.calculator-label,.radio-group{margin-bottom:15px;}
.radio-group{font-size:0;}
.radio-group input[type=radio]{display:none;}
.radio-group input[type=radio]+label{position:relative;display:inline-block;vertical-align:top;font-size:12px;line-height:34px;width:34px;height:34px;text-align:center;cursor:pointer;border-radius:50%;border:2px solid transparent;z-index:2;color:#000;}
.radio-group input[type=radio]+label:hover{border-radius:50%;border:2px solid #ffd300;}
.radio-group input[type=radio]:checked+label{border-radius:50%;border:2px solid #ffd300;background-color:#ffd300;-webkit-box-shadow:0 2px 16px 0 rgba(0,0,0,.27);box-shadow:0 2px 16px 0 rgba(0,0,0,.27);color:#000;text-transform:none;font-weight:400;}
label.visible-mobile.calculator-label{display:none;}
.form-wrapper-items .selectric .label{font-size:16px;color:#0c1327;}
.form-phone-wrap{text-align:center;}
.calculator .form-input{display:inline-block;vertical-align:top;width:100%;max-width:320px;font-size:16px;color:#0c1327;padding:14px 20px;border-radius:3px;border:2px solid #e0e0e0;background-color:#fff;-webkit-box-shadow:inset 3px 3px 1px 0 #f4f4f4;box-shadow:inset 3px 3px 1px 0 #f4f4f4;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0;}
.calculator .form-button{display:inline-block;vertical-align:top;font-family:Qanelas-Bold,Arial,sans-serif;font-size:14px;text-align:center;text-decoration:none;color:#fff;letter-spacing:.6px;text-transform:uppercase;text-shadow:0 -1px 0 rgba(0,0,0,.2);border:1px solid #ffd300;border-radius:3px;padding:15px 10px;margin:0 auto;margin-bottom:0;background:-moz-linear-gradient(100deg,#f5b812 0,#ffdb5e 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffdb5e),color-stop(100%,#f5b812));background:-webkit-linear-gradient(100deg,#f5b812 0,#ffdb5e 100);background:-o-linear-gradient(100deg,#f5b812 0,#ffdb5e 100%);background:-ms-linear-gradient(100deg,#f5b812 0,#ffdb5e 100%);background:linear-gradient(350deg,#f5b812 0,#ffdb5e 100%);cursor:pointer;-webkit-box-sizing:border-box;box-sizing:border-box;color:#000;}
@media (min-width:585px){
.radio-group input[type=radio]+label{font-size:14px;line-height:44px;width:44px;height:44px;}
}
@media (min-width:768px){
.calculator-title{font-size:32px;}
.calculator-column{position:relative;float:left;width:33.33333333%;padding-top:30px;padding-right:50px;margin-bottom:30px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.calculator-column--date{padding-right:0;}
.calculator-column:before{content:'';position:absolute;top:0;left:0;background-position:center;background-repeat:no-repeat;}
.calculator-column--cost:before{width:24px;height:21px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVCAMAAABrN94UAAAAY1BMVEUAAAD0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAphM6EdAAAAIHRSTlMA4LDwkFEwwWBA+LwtpMonFKjm47eFSR0Z9deBXDo5C8aDGHAAAACDSURBVCjPldFJDoMwEETRwsYYPEMmMvf9T5lFE8mYWApv1dLfdQFONCV/ARClOYo1S4cEeONQOtMJaEZsBQvIFltC/xvmgeki9IYW0uXhfdWKPSabB0cqJj7bKQ8dKeuXIIsQ518h0dix1y3kAXf6MsMq4NmzoPe/pPrd6h71BaubfwANWwkDZTho2AAAAABJRU5ErkJggg==);}
.calculator-column--materials:before{width:24px;height:21px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVCAMAAABrN94UAAAAaVBMVEUAAAD0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAqwDUlzAAAAInRSTlMA8LCAUOHA0KCQIDDqEHBgQNh7+d2eivPKqWocyKdzcioIAtWQ1wAAAI5JREFUKM+lz8sWgjAMRdGkpC0tQW15i+///0iFu2TkCPfoZp1R6JELOG/jSYuUHAzJgN7WwELgCwITdoY0GhisA24/l1DVh+BtCZ5LcJYWwRAUnkB4R8jK3DQW+Dv0QtodQM0RvBGR+q/P+xpMF+NMNL1+uhLNMXajwNSeIPPOz3sXIbQV3HUNVWLQbeQ3lSYMHxSPQAAAAAAASUVORK5CYII=);}
.calculator-column--date:before{width:22px;height:22px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAaVBMVEX0XAr0XAoAAAD0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAr0XAox9s6GAAAAInRSTlNg8ADQoDAgsJD27N36A5tLfXRwNyvotXpmQQjYXiUT4r5p6Q0g0AAAANRJREFUGNOdzElSxEAMRFEpZVCpJg/tuQeg7n9IytGs2gQLfkRu3iIJSNnrDmzX0AK7+pyAym1ZbAXkUydgtaW0lVObGaJENlAhUgHnNlEuVtmYS2Vmq2wlkx9ulkIHTMsagS4kuw2emO7mywVozGbgUrzdKzJh7Ksi0deO6v2Ig7u3U13l8kuV+/dTfWUam5dGOpiiamDVj0mVg2qkJzPgBGgUEAfw31xEvIkwi5gXKT8cnRPv3DU458W5f34zx2ORuRx78oNeelQMM52aA22BT4XtGwdmDuO+BaIpAAAAAElFTkSuQmCC);}
.text-result{display:inline-block;vertical-align:top;}
.text-result span{display:block;width:100%;font-size:22px;text-align:left;padding-bottom:10px;margin-top:15px;border-bottom:5px solid #ffd907;}
.calculator .form-input{margin-bottom:0;margin-right:15px;}
.form-wrapper-items .selectric .label{font-size:18px;}
}
@media (min-width:992px){
.calculator-title{margin:0 0 24px;}
.calculator{padding:100px 0;}
.calculator-title{margin:0 0 24px;}
.calculator form{font-size:0;}
.calculator-items{font-size:0;text-align:center;}
.calculator .tab-content{padding:20px 40px 30px;margin:0 auto;}
.calculator-item{display:inline-block;vertical-align:top;width:30%;margin-right:5%;margin-bottom:30px;}
.calculator-item:last-child{margin-right:0;}
.calculator .form-wrapper,.calculator__input-block{width:48%;margin:0 30px 30px 0;display:inline-block;}
.calculator__input-block{margin-right:0;}
.tooltips-box-apartment.active,.tooltips-box.active{display:inline-block;vertical-align:top;width:48%;}
.text-result span{font-size:25px;}
.radio-group{display:inline-block;vertical-align:top;margin:0 0 30px 30px;}
.hidden-desktop{display:none!important;}
}
@media (min-width:1200px){
.calculator{overflow:hidden;}
.calculator-item a{font-size:21px;}
.calculator .tab-content{position:relative;width:80%;}
}
