.block-header {
    background: var(--color-bg-dark) no-repeat center center;
    color: var(--color-white);
}

.logo-block {
    padding-top: 2.1875rem;
}

.logo {
    font-family: 'EVO';
}

.logo-descr {
    font-family: 'Solomon Sans';
}

.main-title-overlay {
    margin-top: 5rem;
    background: rgba(0, 0, 0, 0.2);
}

.main-title {
    font-size: 13rem;
    font-family: 'EVO';
}

/* md */
@media (max-width: 991.98px) {
    .main-title {
        font-size: 8rem;
        font-family: 'EVO';
    }
    .logo-block {
        padding-top: 5rem;
    }
}

.main-title-overlay h1 {
    font-family: 'Solomon Sans';
    font-size: 1.875rem;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: 1.875rem;
    text-align: center;
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
}
