.remont-example-card {
    width: 930px;
    display: inline-block;
}

.remont-example-card > div {
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(33, 33, 33, .21);
}

.quality-label {
    position: absolute;
    top: 50%;
    left: -80px;

    font-size: 10px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: .5em;
    opacity: .5;
    font-family: 'EVO';
    z-index: 4;
    transform: rotate(-90deg);
    transform-origin: center center;
}

.price-wrapper {
    height: 6.25rem;
    position: relative;
}

.quality-price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 5px;

    transition: all .3s ease;
    opacity: 0;
}

.quality-price strong {
    font-size: 6.25rem;
    font-weight: 700;
    letter-spacing: -.05rem;
}

.img-quality {
    position: absolute;
    left: 20px;
    top: -80px;
}
