.team-tab {
    position: relative;

    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;

    transition: all .3s ease;
}

.team-tab.active, .team-tab:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.team-tab::after {
    content: '';

    position: absolute;
    bottom: -1.15rem;
    left: 50%;
    width: 1;
    height: 1;

    border: 0.625rem solid rgba(255, 255, 255, 0);

    transform: translateX(-50%);

    transition: all .3s ease;
}

.team-tab.active::after {
    border-top-color: var(--color-primary);
}

.team-swiper-container {
    padding-bottom: 2.5rem;
}

.team-swiper-container > .swiper-wrapper {
    height: 30rem;
}

@media (max-width: 991.98px) {
    .team-swiper-container > .swiper-wrapper {
        height: 15rem;
    }
}

.team-pagination-bullet {
    height: 0.75rem !important;
    width: 0.75rem !important;
    border-radius: 6px !important;
}

.team-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #444;
}

.team-img {
    background-position: left;
}
