@font-face {
    font-family:'EVO';
    src: url('../../../resources/fonts/hinted-MADEEvolveSansEVO-Medium.eot');
    src: url('../../../resources/fonts/hinted-MADEEvolveSansEVO-Mediumd41d.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/hinted-MADEEvolveSansEVO-Medium.woff2') format('woff2'),
        url('../../../resources/fonts/hinted-MADEEvolveSansEVO-Medium.woff') format('woff'),
        url('../../../resources/fonts/hinted-MADEEvolveSansEVO-Medium.ttf') format('truetype'),
        url('../../../resources/fonts/hinted-MADEEvolveSansEVO-Medium.svg#MADEEvolveSansEVO-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:'Solomon Sans';
    src: url('../../../resources/fonts/hinted-SolomonSans-Light.eot');
    src: url('../../../resources/fonts/hinted-SolomonSans-Lightd41d.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/hinted-SolomonSans-Light.woff2') format('woff2'),
        url('../../../resources/fonts/hinted-SolomonSans-Light.woff') format('woff'),
        url('../../../resources/fonts/hinted-SolomonSans-Light.ttf') format('truetype'),
        url('../../../resources/fonts/hinted-SolomonSans-Light.svg#SolomonSans-Light') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Solomon Sans';
    src: url('../../../resources/fonts/hinted-SolomonSans-Regular.eot');
    src: url('../../../resources/fonts/hinted-SolomonSans-Normald41d.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/hinted-SolomonSans-Regular.woff2') format('woff2'),
        url('../../../resources/fonts/hinted-SolomonSans-Regular.woff') format('woff'),
        url('../../../resources/fonts/hinted-SolomonSans-Regular.ttf') format('truetype'),
        url('../../../resources/fonts/hinted-SolomonSans-Regular.svg#SolomonSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Solomon Sans';
    src: url('../../../resources/fonts/hinted-SolomonSans-Bold.eot');
    src:url('../../../resources/fonts/hinted-SolomonSans-Boldd41d.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/hinted-SolomonSans-Bold.woff2') format('woff2'),
        url('../../../resources/fonts/hinted-SolomonSans-Bold.woff') format('woff'),
        url('../../../resources/fonts/hinted-SolomonSans-Bold.ttf') format('truetype'),
        url('../../../resources/fonts/hinted-SolomonSans-Bold.svg#SolomonSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Solomon Sans';
    src: url('../../../resources/fonts/hinted-SolomonSans-SemiBold.eot');
    src: url('../../../resources/fonts/hinted-SolomonSans-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/hinted-SolomonSans-SemiBold.woff2') format('woff2'),
        url('../../../resources/fonts/hinted-SolomonSans-SemiBold.woff') format('woff'),
        url('../../../resources/fonts/hinted-SolomonSans-SemiBold.ttf') format('truetype'),
        url('../../../resources/fonts/hinted-SolomonSans-SemiBold.svg#SolomonSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:'Solomon Sans';
    src: url('../../../resources/fonts/hinted-SolomonSans-Black.eot');
    src: url('../../../resources/fonts/hinted-SolomonSans-Blackd41d.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/hinted-SolomonSans-Black.woff2') format('woff2'),
        url('../../../resources/fonts/hinted-SolomonSans-Black.woff') format('woff'),
        url('../../../resources/fonts/hinted-SolomonSans-Black.ttf') format('truetype'),
        url('../../../resources/fonts/hinted-SolomonSans-Black.svg#SolomonSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family:'Solomon Sans';
    src: url('../../../resources/fonts/hinted-SolomonSans-SemiLight.eot');
    src: url('../../../resources/fonts/hinted-SolomonSans-SemiLightd41d.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/hinted-SolomonSans-SemiLight.woff2') format('woff2'),
        url('../../../resources/fonts/hinted-SolomonSans-SemiLight.woff') format('woff'),
        url('../../../resources/fonts/hinted-SolomonSans-SemiLight.ttf') format('truetype'),
        url('../../../resources/fonts/hinted-SolomonSans-SemiLight.svg#SolomonSans-SemiLight') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../../resources/fonts/Trebuchet-BoldItalic.eot');
    src: local('Trebuchet MS Bold Italic'), local('Trebuchet-BoldItalic'),
        url('../../../resources/fonts/Trebuchet-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/Trebuchet-BoldItalic.woff') format('woff'),
        url('../../../resources/fonts/Trebuchet-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../../resources/fonts/TrebuchetMS-Bold.eot');
    src: local('Trebuchet MS Bold'), local('TrebuchetMS-Bold'),
        url('../../../resources/fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/TrebuchetMS-Bold.woff') format('woff'),
        url('../../../resources/fonts/TrebuchetMS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../../resources/fonts/TrebuchetMS-Italic.eot');
    src: local('Trebuchet MS Italic'), local('TrebuchetMS-Italic'),
        url('../../../resources/fonts/TrebuchetMS-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/TrebuchetMS-Italic.woff') format('woff'),
        url('../../../resources/fonts/TrebuchetMS-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../../resources/fonts/TrebuchetMS.eot');
    src: local('Trebuchet MS'), local('TrebuchetMS'),
        url('../../../resources/fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
        url('../../../resources/fonts/TrebuchetMS.woff') format('woff'),
        url('../../../resources/fonts/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}
