* {
    --font-size-big: 1.125rem; /* кратные 3-м */
    --font-size-big-x1-5: 1.6875rem;

    --font-size-normal-x0-75: 0.75rem;
    --font-size-normal: 1rem; /* кратные 2-м */
    --font-size-normal-x1-25: 1.25rem;
    --font-size-normal-x1-5: 1.5rem;
    --font-size-normal-x1-7: 1.7rem;
    --font-size-normal-x2: 2rem;
}

/* xs */
@media (max-width: 575.98px) {
	:root {
		--default-font-size: 11px;
	}
}

/* sm */
@media (max-width: 767.98px) and (min-width: 576px) {
	:root {
		--default-font-size: 11px;
	}
}

/* md */
@media (max-width: 991.98px) and (min-width: 768px) {
	:root {
		--default-font-size: 12px;
	}
}

/* lg */
@media (max-width: 1199.98px) and (min-width: 992px) {
	:root {
		--default-font-size: 14px;
	}
}

/* xl */
@media (min-width: 1200px) {
	:root {
		--default-font-size: 16px;
	}
}
