.scroll-down {
    position: absolute;
    bottom: 35px;
    right: -80px;

    color: var(--color-white);

    transform-origin: 0 0 0;
    transform: rotate(-90deg);
}

.scroll-anim-indicator {
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    height: 10px;
    width: 18px;

    position: relative;
    display: inline-block;
}

.scroll-anim-indicator > span {
    height: 4px;
    width: 4px;
    border-radius: 2px;

    position: absolute;
    left: 2px;
    top: 2px;

    background-color: var(--color-white);
    animation: scroll-ind-anim 2s ease infinite;
}

.example-point {
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    background: #fceab7;
    border-radius: 50%;
    box-shadow: inset 0 2px 4px rgba(71,57,20,.5),0 2px 1.9375rem rgba(33,33,33,.23);
    border: 0.5625rem solid #fff;
    cursor: pointer;

    transform-origin: center center;
    transition: all .3s ease;
    animation: pulse 1s infinite;
}

@media (max-width: 991.98px) {
    .example-point {
        width: 1.5rem;
        height: 1.5rem;
        border: 0.4rem solid #fff;
    }
}

.example-point:hover {
    background: #ffd14e;
    animation: none;
}

.section {
    padding-bottom: 7rem;
}
