.market-text-block {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.market-gray-line {
    height: 1px;
    width: 80%;
    background-color: var(--color-gray);
}

.market-director-name {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 700;
}

.market-director-job {
    font-size: .625rem;
    line-height: 1rem;
    font-weight: 400;
    color: #a2a2a2;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.img-license {
    position: relative;
    box-shadow: 0 20px 40px rgba(33, 33, 33, .21);
}

.img-standart {
    position: absolute;
    right: 70px;
    top: 120px;
}
