.page-wrapper {
    margin-left: -285px;

    transition: all .3s ease;

    overflow-x: hidden;
}

.page-wrapper.open-nav {
    margin-left: 0px;
}

.page {
    position: relative;
    width: 100vw;
    margin-left: 285px;

    overflow-x: hidden;
}

.nav-open-button {
    position: fixed;
    z-index: 3000;
    top: 2.5rem;
    left: 2.5rem;
    width: 1.375rem;
    height: 1.375rem;
}
