.page-wrapper {
    overflow-x: hidden;
}

.page {
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease;
}

.open-nav > .page {
    left: 285px;
}

.nav-open-button {
    position: fixed;
    z-index: 3000;
    top: 2.5rem;
    left: 2.5rem;
    width: 1.375rem;
    height: 1.375rem;
}
