* {
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--default-font-size);
}

body {
    overflow-x: hidden;

    font: 400 var(--default-font-size) 'Trebuchet MS', sans-serif;
    color: var(--color-default);
}

a {
    color: var(--color-black);
    outline: none;
}

a:hover, a:visited {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

h1 {

}

h2 {
    font-size: 3.375rem;
}

@media (max-width: 991.98px) {
    h2 {
        font-size: 3rem;
    }
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

strong {
    font-weight: 700;
}

li {
    list-style-type: none;
}
