.container-930 {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-1000 {
    max-width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper-4-3 {
	position: relative;
	width: 100%;
	padding-bottom: 75%;
}

.wrapper-16-9 {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.content-aspect {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.icon-small {
    display: inline-block;
	min-width: 1rem;
	min-height: 1rem;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-1-25 {
    display: inline-block;
	min-width: 1.25rem;
	min-height: 1.25rem;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-normal {
    display: inline-block;
	min-width: 1.5rem;
	min-height: 1.5rem;
	background-size: contain;
	background-repeat: no-repeat;
}

.icon-big {
    display: inline-block;
	min-width: 4rem;
	min-height: 4rem;
	background-size: contain;
	background-repeat: no-repeat;
}

.image-cover {
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}

.image-contain {
    background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
}

.font-s-normal-x0-75 {
    font-size: var(--font-size-normal-x0-75) !important;
}

.font-s-normal {
    font-size: var(--font-size-normal) !important;
}

.font-s-normal-x1-25 {
    font-size: var(--font-size-normal-x1-25) !important;
}

.font-s-normal-x1-5 {
    font-size: var(--font-size-normal-x1-5) !important;
}

.font-s-normal-x1-7 {
    font-size: var(--font-size-normal-x1-7) !important;
}

.font-s-normal-x2 {
    font-size: var(--font-size-normal-x2) !important;
}

.font-s-big {
    font-size: var(--font-size-big) !important;
}

.font-s-big-x1-5 {
    font-size: var(--font-size-big-x1-5) !important;
}

.font-f-evo {
    font-family: 'EVO';
}

/* font params */
.uppercase {
    text-transform: uppercase;
}

.line-h-120 {
    line-height: 120% !important;
}

.line-h-1-4 {
    line-height: 1.4em !important;
}

.letter-s-0-1 {
    letter-spacing: 0.1em;
}

.letter-s-0-2 {
    letter-spacing: 0.2em;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.center-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
